* {
	    box-sizing: border-box;

			padding: 0;
			margin: 0;
}

html, body {  height: auto; }

#page-wrapper {
	margin: 0 auto;
	height: 100;
	border: thin solid red;

	background-color: green;
}

#page-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

#right-menu { width: 25%; float: left; height: 100%;
 }
#left-menu { width: 25%; float: left; height: 100%;
 }

#content { width: 50%; float: left;
border: thin solid blue;
	background-color: white;
 }
