* { box-sizing: border-box; }

h1 { text-align: center; }

#board {
  border: thin solid black;
  border-radius: 5px;
  width: 972.8px;
  margin: 0 auto;
}

#board:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  height: 150px;
  width: 242.7px;
  border: thin solid black;
  border-radius: 25px;
  text-align: center;
  float: left;
  padding-top: 45px;
  font-size: 50px;
  transform-style: preserve-3d;

 }

.back {
  background-color: yellow;
}

.back span {
  display: none;
}

.front {
  background-color: white;
}
