* {
	    box-sizing: border-box;
}

#playground {
	border: thin solid black;
	height: 300px;
	display: table;
	width: 100%;
}

.controls {
	display: table-cell;
	vertical-align: middle;
}

.previous { border: thin solid blue; float: left; }
.next { border: thin solid green; float: right; }
