<div id="right-menu">
  <div class="right-menu-row">
    <div class="right-menu-img">
      <img src="fast.jpg">
    </div>
    <div class="right-menu-description">
      <p> Mus mauris vitae ultricies leo integer malesuada nunc. Tellus mauris a diam maecenas sed. Sit amet nisl purus in. Donec massa sapien faucibus et molestie ac feugiat. Lacus vel facilisis volutpat est velit egestas dui. Elit ut aliquam purus sit amet luctus venenatis. </p>
    </div>
  </div>
</div>
