<div id="navbar">
	<div id="navbar-left">
		<ul>
			<li><a href="011-index.html">Home</a></li>
			<li><a href="011-section.html">News</a></li>
			<li><a href="011-section.html">Contact</a></li>
			<li><a href="011-section.html">About</a></li>
		</ul>
	</div>
	<div id="navbar-right">
		<span id="header-logo" class="logo">Trademark</span>
	</div>
	<div class="clearfix"></div>
</div>
