/* Definición de los estilos de la página */

* { box-sizing: border-box; }

h1 { color: red; }

.my-table {
    border: thin solid black;
    border-collapse: collapse;
}

.my-table td, .my-table th {
    border: 1px solid black;
}
