* {
	    box-sizing: border-box;
}

body { margin: 0; padding: 0;  }
div {  }
img { max-width: 100%; }

#wrapper { margin-top: 37px; }
#header { border: thin solid red; }

#left-menu { width: 25%; float: left; }
#right-menu { width: 25%; float: right; }
#content { width: 50%; float: left; padding: 1%; }


#footer {  }

.clearfix{ clear: both;}

.logo {}
#header-logo { color: red; float: right; }
.header-title {}
.header-subtitle {}

/* clearfix by css only */
#navbar:after {
    content: "";
    display: table;
    clear: both;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	#left-menu, #right-menu,	#content {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

	img { border-radius: 50%;}

	body { background-color: red;}
}
