* {
  box-sizing: border-box;
  border: thin solid black;
}

html, body { margin: 0; height: 100%; }

.cell {
  width: 33.33333%;
  height: 100%;
  float: left; /* también con display: inline; */
}

.row {
  height:33.33333%;
}
