* {
	    box-sizing: border-box;
}

body { margin: 0; padding: 0;  }
img { max-width: 100%; }

.gallery { }
.gallery-item{  float: left; padding: 10px;   }
.gallery-item img  {  }
.g-wrapper { overflow: hidden; width: 350px; height: 220px;   }

.g-thin { border: thin solid; }
.g-dotted { border: thin dotted; }
.g-huge { border: thick solid; }

.g-black { color: black; }
.g-blue { color: blue; }
.g-orange { color: orange; }
.g-red { color: red; }
